body {
        --primary: 25,91,255;
        --color: 44, 62, 80;
        display: flex;
        align-items: center;
        padding-top: 40px;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        background: #f4f7f8;
        height: calc(var(--vh, 1vh) * 100);
        overflow: hidden;
        color: rgb(var(--color));
        width: 100%;
        height: 100vh;
    }
    * {
        list-style: none;
        outline: none;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    .con-search {
        position: relative;
        width: 400px;
    }
    .focus .content-results {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
    .con-input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    .con-input i {
        position: absolute;
        right: 15px;
        font-size: 1.5rem;
        transition: all .25s ease;
        opacity: .5;
    }
    .notValue .con-input i.bx-search  {
        display: block;
    }
    .con-input i.bx-search {
        display: none;
    }
    .notValue .con-input i.bx-x {
        display: none;
    }
    .con-input i.bx-x {
        display: block;
        cursor: pointer;
    }

    .con-input input {
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
        border: 0px;
        border-radius: 20px;
        transition: all .25s ease;
    }
    .con-input input:focus {
        transform: translate(0, -6px);
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,.05);
    }
    .con-input input:focus ~ i {
        transform: translate(0, -6px);
        opacity: 1;
    }
    .content-results {
        position: absolute;
        width: 100%;
        background: #fff;
        margin-top: 10px;
        border-radius: 25px;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,.05);
        transform: translate(0, -10px);
        transition: all .25s ease;
        opacity: 0;
        z-index: 10;
        visibility: hidden;
        padding-right: 10px;
        overflow: hidden;
    }
    .con-results {
        width: 100%;
        overflow: auto;
        max-height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .con-results:empty {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .not-results {
        text-align: center;
        padding: 15px;
        font-size: .9rem;
        opacity: .7;
        display: none;
    }
    .con-search:not(.notValue) .con-results:empty ~ .not-results {
        display: block;
    }
    .con-results .result {
        padding: 15px;
        margin: 5px 0px;
        list-style: none;
        transition: all .25s ease;
        position: relative;
        cursor: pointer;
        width: calc(100% - 10px);
        margin-left: 10px;
        border-radius: 20px;
    }
    .con-results .result:hover {
        background: #f4f7f8;
    }
    .con-results .result p {
        font-size: .9rem;
        color: rgba(var(--color), .6);
    }
    .con-results .result b {
        background: rgba(var(--color), .1);
        text-decoration: underline;
        color: rgba(var(--color), 1);
        border-radius: 2px;
    }
    .web {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: .8rem;
        color: rgba(var(--color), .5);
        padding: 20px;
    }
    .hidden {
        opacity: 0;
        margin-top: -15px;
    }
    .con-results::-webkit-scrollbar {
        width: 5px;
    }
    .con-results::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #000;
    }